@font-face {
    font-family: 'sourceCode';
    src: url('/static/font/SourceCodePro-Regular.ttf');
}


@font-face {
    font-family: 'Mufans';
    src: url('/static/font/Mufanpfs.otf');
}

body{
    font-family: 'Open Sans';
    background-color: #495464;
    display: flex;
    flex-direction: column;
}

#main{
    background-color: #BBBFCA;
    width: 800px;
    min-height: 850px;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding-bottom: 20px;
}

#bottom{
    background-color: #BBBFCA;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#head{
    height: 120px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 40px;
}

#splitline{
    margin-left: 40px;
}

#body{
    background-color: #E8E8E8;
    width: 720px;
    min-height: 600px;
    height: fit-content;
    border-radius: 3px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 8px;
}

#page_index{
    bottom: 10px;
}

#postblock{
    width: 690px;
    min-height: 500px;
    height: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F4F4F2;
    padding: 5px;
}

#input_area{
    width: 710px;
    height: 500px;
}

#btn_post{
    width: 100px;
}

.flex_col{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.flex_row{
    margin: auto;
    display: flex;
    flex-direction: row;
}

.margin_auto{
    margin: auto;
}

.margin_left_20{
    margin-left: 20px;
}

.margin_left_10{
    margin-left: 10px;
}

.margin_right_0{
    margin-right: 0px;
}
.margin_left_3{
    margin-left: 3px;
}

.width23{
    width: 23px;
}

.margin_right_20{
    margin-right: 20px;
}

.date_box{
    width: 70px;
}

.tag_box{
    width: 130px;
}

.title_text_box{
    margin: auto;
    background-color: #F4F4F2;
    height: 32px;
    width: 350px;
    border-radius: 4px;
    display: flex;
}

.title_box{
    border-radius: 5px;
    background-color: #E8E8E8;
    margin-top: 10px;
    width: 600px;
    height: 40px;
}

.img-width-200{
    width: 200px;
}

.FontMufans{
    font-family: 'Mufans';
}
button{
    margin:auto;
}

span{
    margin:auto;
}


svg{
    margin:auto;
}


codeinline{
    font-family: "sourceCode";
    font-size: 14px;
    background-color: #252523c2;
    color: #96ff9a;
    border-radius: 3px;
    padding: 2px;
    padding-right: 3px;
    padding-left: 2px;
    margin-right: 2px;
    margin-left: 2px;
}

ul{
    text-decoration: none;
    list-style: '-';
}

a{
    text-decoration: none;
}

#title_link:link{
    color:#1d1d1d;
}

#title_link:visited{
    color:#1d1d1d;
}

a:link {
    color:#0ca0db;
}
a:visited{
    color:#0ca0db;
}
a:hover{
    color: rgb(252, 124, 120);
}
blockquote{
    border-left: solid #ffd04391 3px;
    padding-left: 10px;
    background-color: #ffc1071c;
    margin-inline-start: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    width: fit-content;
}
codediv{
    display: block;
    font-family: "sourceCode";
    font-size: 14px;
    background-color: #252523e6;
    color: #96ff9a;
    border-radius: 3px;
    padding: 2px;
    padding-right: 3px;
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 20px;
    white-space: pre;
}