<html>

<head>
    <link rel="stylesheet" href="{{url_for('post.static',filename='./css/post.css')}}">
    <script type="text/javascript" src="{{url_for('post.static',filename='./js/vue3.js')}}"></script>
    <script type="text/javascript" src="{{url_for('post.static',filename='./js/axios.js')}}"></script>
</head>

<body>
    <div>
        <!-- main -->

        <div id="main">
            <!-- head -->
            <div id="head" class="flex_col" @click="click_head">
                <!-- title -->
                <div id="title" class="flex_col margin_left_3">
                    <h2 class="flex_col"> ${title}</h2>
                </div>

                <!-- / -->
                <!-- clickline -->
                <div id="tags_line" class="flex_col margin_left_3">
                    <span> ${tags}</span>
                </div>
                <div id="post_info" class="flex_col margin_left_3">
                    <div id="date" class="flex_col">
                        <span>${date}</span>
                    </div>
                </div>
                <div id="view" class="flex_row margin_left_3">
                    <span>浏览次数 ${view_count}</span>
                </div>
                <!-- / -->
            </div>
            <!-- <div id="splitline" class="flex_col">
        <span>————————————————————————————</span>
    </div> -->
            <!-- / -->
            <!-- body -->
            <div id="body" class="flex_col" @click="click_body">
                <!-- title_list -->
                <div id="postblock" class="flex_col" v-html="content">
                    <!-- ${content} -->
                </div>
                <!-- / -->
                <!-- page_index -->
                <div id="page_index" class="flex_row">
                    <!-- <button>1</button>
            <button>2</button>
            <button>3</button>
            <button>4</button>
            <button>5</button>
            <button>6</button> -->
                </div>
                <!-- / -->
            </div>
            <!-- / -->
        </div>
        <!-- / -->

        <!-- bottom -->
        <div id="bottom" class="flex_col">
            <!-- log_info -->
            <div class="flex_row">
                <span>博客共xx篇xxx字</span>
                <span>访问量xx</span>
                <span id="post_id" style="display: none;" name="{{ post_id }}"></span>
            </div>
            <!-- / -->
            <!-- beian -->
            <div class="flex_col">
                <span>Powered by Flask</span>
                <span>ICP备20004042号-1</span>
            </div>
            <!-- / -->
        </div>
    </div>
    <!-- / -->

    <script type="text/javascript" src="{{url_for('post.static',filename='./js/post_index.js')}}">
    </script>
</body>

</html>