body{
    font-family: 'Open Sans';
    background-color: #495464;
    display: flex;
    flex-direction: column;
}

#main{
    background-color: #BBBFCA;
    width: 800px;
    height: 850px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#bottom{
    background-color: #BBBFCA;
    width: 800px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

#head{
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#body{
    margin-top: 10px;
    height: 680px;
}

#page_index{
    bottom: 10px;
}

.flex_col{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.flex_row{
    margin: auto;
    display: flex;
    flex-direction: row;

}

.width640{
    width: 640px;
}

.tag_key{
    background-color: #88FFF7;
    min-width: 100px;
    text-align: center;
    border-radius: 3px;
    border: solid #88FFF7;
}

.tag_num{
  /* background-color: aquamarine; */
  min-width: 20px;
  text-align: center;
}

.tag_block{
    border-radius: 3px;
    background-color: #7DEDFF;
    margin-top: 5px;
    min-width: 150px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#out_taglist{
    background-color: #96BAFF;
    border-radius: 3px;
    padding: 20px;
    border: solid #7C83FD;
}

.flex_row_wrap{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.margin_auto{
    margin: auto;
}

.margin_left_20{
    margin-left: 20px;
}

.margin_left_10{
    margin-left: 10px;
}

.margin_right_0{
    margin-right: 0px;
}
.margin_left_3{
    margin-left: 3px;
}

.width23{
    width: 23px;
}

.margin_right_20{
    margin-right: 20px;
}

.date_box{
    width: 70px;
}

.tag_box{
    width: 130px;
}

.title_text_box{
    margin: auto;
    background-color: #F4F4F2;
    height: 32px;
    width: 350px;
    border-radius: 4px;
    display: flex;
}

.title_box{
    border-radius: 5px;
    background-color: #E8E8E8;
    margin-top: 10px;
    width: 600px;
    height: 40px;
}



button{
    margin:auto;
}

span{
    margin:auto;
}


svg{
    margin:auto;
}